body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("./imagenes/kangal.webp");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
  min-height: 100vh;

}
a{
  text-decoration: none;
}

.contenedor {
  max-width: 860px;
  margin: 0 auto;
  padding: 1.5rem;
}


h1 {
  margin-bottom: 8px;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  background: #070042;
  color: #fff;
}

button:hover {
  opacity: 0.85;
}

.link {
  text-align: center;
  font-size: 15px;
  margin-top: 16px;
  color: red;
  text-decoration: none;
  background-color: #070042;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: white;
  background-color: #070042;
  color: white;
}

th,
td {
  border: 2px solid #fffcfc;
  padding: 10px 14px;
  text-align: left;

}

@media (width < 768px) {

  th,
  td {
    padding: 4px 6px;
    font-size: 6px;
  }

  h1 {
    font-size: 20px;
  }
  .link {
    font-size: 10px;
  }
}

@media (767px < width < 1140px) {
  table {
    font-size: 13px;
  }

  th,
  td {
    padding: 8px 10px;
  }
}