@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Playfair Display', serif;
    background-image: url("./imagenes/puppies.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
}


.form-container {
    padding: 40px;
    border-radius: 12px;
    width: 100%;
    max-width: 420px;

    background-color: black;
    color: white;
}



.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.form-group label {
    font-size: 14px;
    margin-bottom: 6px;
}

.form-group input {
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 15px;
    border: 1px solid #ccc;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 8px;
}



#msgError {
    display: none;
    justify-content: center;
    text-align: center;
}

.link {
    text-align: center;
    font-size: 14px;
    margin-top: 16px;
    color: rgb(207, 13, 13);
}


.tabla-titulo {
  margin-top: 24px;
}

.tabla-horarios {
  width: 100%;
  border-collapse: collapse;
}

.tabla-horarios th,
.tabla-horarios td {
  border: 1px solid #000;
  padding: 8px;
}


@media(width < 767px) {
    body {
        background-position: 40% center;
        background-size: cover;
    }

}

@media(768px <=width < 1150px) {

    body {
        background-position: 50% center;
        background-size: cover;
    }

}

