body{
    background-color: whitesmoke;
    
}

.Principal{
    text-align: center;
}

.Titulo{
    margin-top: 100px;
    width: 45%;
    display: inline-block;
    vertical-align: top;
}
.Imagen{
    margin-top: 50px;
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

.Titulo h1 {
    width: 250px;
    margin: 0 auto;
    text-align: center;
}

.Imagen img{
    width: 80%;
    height: 650px;
}

.boton{
    background-color: black;
    color:white;
    width: 200px;
    height: 40px;
}
.Texto{
    width: 500px;
    margin :0 auto;
    text-align: center;

}