body{
    margin : 0;
}

.main-container{
    width: 100vw;
    height: 100vh;
    background-image: url(./imagenes/fondo.jpg);    
    padding-top: 25px;
}

.card{
    width: 500px ;
    height: 600px;
   
    margin:  auto ; 

}

.image-container{
    width: 100%;
    height: 55%;
}

.text-container{
    
    height: 45%;
    background-color: white;
    
    padding: 25px 20px;
}

h1{
    margin-top: 0;
   
    text-align: center;
}

hr{
    border: dotted black 1px;
    

}
button{
    margin: auto;
    display: block;
    background-color: red;
    border: none;
    color: white;
    height: 30px;
   

}